
<main>

<div id="home">
    <div class="contianer">

        <div class="row">
            <div class="col-8 offest-2">
                <h2 id="songTitleScreen">{{msg}}</h2>

                <h3 id="yourChoice"></h3>
{{!-- 
                <button type="button" class="btn btn-success changeButton">Change Module</button>
                <button type="button" class="btn btn-success logOutButton">Logout</button> --}}

                <h3 style="visibility:hidden">Your favorites:</h3>

                <ul id="example-list" class="list-group-item local-render" style="visibility:hidden">
                    {{!-- {{#each favoriteSongs}}
                    
                    <li><strong>Song Name: </strong>{{songName}}
                        <br>
                        <strong>Artist: </strong>{{artistName}}
                        <br>
                        <button class="btn delete">ｘ</button>
                    </li>
                    <br>

                    {{/each}} --}}

                    <p>{{album.name}}</p>
                    {{#each album.artists}}
                    <p>{{name}}</p>
                    {{/each}}

                </ul>
            </div>
        </div>
        
        <div class="column">
            <h2 class="text-center text-light">Featured Songs</h2>
            <div class="container animate__animated animate__fadeInUp">
            <ol class="container ">
            {{#each songs as |song|}}
            {{>inventory-cards}}
            {{/each}}
            </ol>    
        </div> 
            
        <div class="modal" id="selectionModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <h5 class="modal-title">What would you like Cratedigger to do?</h5>
                    <div class="modal-body">
                        <button type="button" class="btn btn-success selectButton" choice="recommend">Please Recommend a Song!</button>
                        <button type="button" class="btn btn-success selectButton" choice="random">Give me Random Songs!</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

